<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.libei.mapper.AddressMapper">

    <select id="totalNum" resultType="java.lang.Integer">
    select count(*) from address
</select>
    <select id="queryAll" resultType="AddressEntity">
        select id,detail_address detailAddress,province,city,remark,is_default isDefault ,user_id userId,create_date createDate,gain_name gainName,phone_num phoneNum from address order by
         create_date desc
    </select>

    <select id="queryDefault" resultType="AddressEntity">
        select id,detail_address detailAddress,province,city,remark,is_default isDefault ,user_id userId,create_date createDate,gain_name gainName,phone_num phoneNum  from address where user_id=#{userId} and is_default=#{isDefault}
    </select>

    <select id="queryAddress" resultType="AddressEntity">
        select id,detail_address detailAddress,province,city,remark,is_default isDefault,user_id userId,create_date createDate,gain_name gainName,phone_num phoneNum  from address where user_id=#{userId} order by create_date desc
    </select>

    <delete id="deleteByUserId">
        delete from address where user_id =#{userId}
    </delete>

    <select id="queryLike" resultType="AddressEntity" parameterType="java.lang.Long">
        select id,detail_address detailAddress,province,city,remark,is_default isDefault,user_id userId,create_date createDate,gain_name gainName,phone_num phoneNum  from address where user_id=#{userId} order by create_date desc
    </select>

</mapper>
