<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.libei.mapper.AdminMapper">

    <select id="totalNum" resultType="java.lang.Integer">

    select count(*) from admin

</select>
    <select id="queryAll" resultType="com.libei.entity.AdminEntity">

        select id,account,password,create_date createDate from admin limit ${(pageNum-1)*pageSize},${pageSize}

    </select>


    <select id="queryLike" resultType="com.libei.entity.AdminEntity" parameterType="java.lang.String">
        select id,account,password,create_date createDate from admin where  account like  '%'||#{param}||'%'  order by create_date desc
    </select>

</mapper>
