<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.libei.mapper.AppraiseMapper">

    <select id="totalNum" resultType="java.lang.Integer">

    select count(*) from appraise

</select>
    <select id="queryAll" resultType="AppraiseEntity">

        select id,user_id userId,order_id orderId,content,create_date createDate from appraise order by create_date desc

    </select>

    <delete id="deleteByUserId">
        delete from appraise where user_id =#{userId}
    </delete>
</mapper>
