<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.libei.mapper.BannerMapper">
    <select id="queryByPage" resultType="BannerEntity">
        select id,title,picture,status,create_time createTime from banner where status=1 order by create_time
    </select>

    <select id="queryNum" resultType="java.lang.Integer">
        select count(*) from banner where status=1
    </select>

    <select id="query" resultType="BannerEntity">
        select id,title,picture,status,create_time createTime from banner order by create_time
    </select>

    <select id="queryLike"  resultType="BannerEntity">
        select id,title,picture,status,create_time createTime from banner where title  like concat ('%',#{title},'%') order by create_time desc
    </select>

</mapper>
