<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.libei.mapper.CategoryMapper">

    <select id="querySecond" resultType="CategoryEntity" parameterType="java.lang.Integer">
        select id,category_name categoryName,first_id firstId,create_time createTime from category where first_id =#{firstId}
    </select>

    <select id="queryFirst" resultType="CategoryEntity">
        select id,category_name categoryName,first_id firstId,create_time createTime from category where first_id is null
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from product where category_id=#{categoryId} or category_id2=#{categpryId}
    </delete>

    <select id="queryByParam" resultType="CategoryEntity">
        select id,category_name categoryName,first_id firstId,type, create_time createTime from category where category_name=#{categoryName} limit ${(pageNum-1)*pageSize},${pageSize}
    </select>
</mapper>