<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.libei.mapper.CollectMapper">

   <select id="queryAll" resultType="com.libei.entity.CollectEntity">
        select id,product_id productId ,user_id userId,create_date createDate from collect where 1=1  order by create_date desc
    </select>
     <select id="queryByUserId" resultType="com.libei.entity.CollectEntity"  parameterType="java.lang.Long" >
         select id,product_id productId ,user_id userId,create_date createDate from collect where 1=1 and user_id =#{userId} order by create_date desc
     </select>

    <delete id="deleteByProId">
         delete from collect where product_id =#{productId}
    </delete>

</mapper>