<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.libei.mapper.ComputerMapper">

    <!--<select id="queryAll" resultType="Computer">-->
        <!--select id,productName,description,color,price,createTime,repertory,hot,categoryId,chuliqi,neicuntiao,-->
        <!--comPic,status from computer where categoryId=#{id} limit ${(page-1)*rows},${rows}-->
    <!--</select>-->
    <!--<select id="totalNum" resultType="java.lang.Integer">-->

        <!--select count(*) from computer-->

    <!--</select>-->


</mapper>