<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.libei.mapper.OrderItemMapper">

   <!-- <select id="queryAll" resultType="OrderItem">
        select id,cost,user_id userId,product_id productId,order_id orderId,count,create_date createDate from order_entity where 1=1  order by create_date desc
    </select>-->

    <select id="queryAll" resultType="OrderEntity">
        select id,cost,user_id userId,order_id orderId,create_date createDate,number,address_id addressId from order_entity where 1=1  order by create_date desc
    </select>
   <!--&lt;!&ndash; <delete id="deleteByUserId">
        delete from order_entity where user_id =#{userId}
    </delete>-->

<select id="queryDetails" resultType="OrderItem">
        select id,cost,user_id userId,product_id productId,order_id orderId,count,create_date createDate from order_detail order by create_date desc
    </select>

    <select id="queryLike" resultType="OrderItem" parameterType="java.lang.Long">
        select id,cost,user_id userId,product_id productId,order_id orderId,count,create_date createDate from order_detail where user_id=#{userId} order by create_date desc
    </select>

    <select id="queryByOrderId" resultType="OrderItem" parameterType="java.lang.String">
        select id,cost,user_id userId,product_id productId,order_id orderId,count,create_date createDate from order_detail where order_id=#{orderId} order by create_date desc
    </select>

</mapper>
