<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.libei.mapper.ProductMapper">

    <select id="queryByCategoryId" parameterType="java.lang.Integer" resultType="ProductEntity">
        select id,product_name productName,color,price,repertory,category_id categoryId,category_id2
        categoryId2,brand,capacity,description,create_time createTime,
        picture,status,sale_count saleCount from product  where status='1' and
        <if test="categoryId！=null">
            category_id=#{categoryId}
        </if>
        <if test="categoryId2！=null">
            category_id2=#{categoryId2}
        </if>
        ORDER by create_time desc
    </select>


    <select id="query" resultType="ProductEntity">
        select id,product_name productName,color,price,repertory,category_id categoryId,category_id2 categoryId2,description,brand,capacity,create_time createTime,
        picture,status,sale_count saleCount from product ORDER by create_time desc
    </select>

    <select id="queryLike" resultType="ProductEntity">
        select id,product_name productName,color,price,brand,repertory, category_id categoryId, category_id2
        categoryId2,description,brand,capacity,create_time createTime,
        picture,status,sale_count saleCount from product
        <where>
            <if test="productName !=null">
                and product_name =#{productName}
            </if>
            <if test="brand !=null">
                and brand=#{brand}
            </if>
            <if test="description !=null">
                and description like concat ('%',#{description},'%')
            </if>
            and status='1'
        </where>
        ORDER by create_time desc
    </select>

    <select id="queryLikeBack" resultType="ProductEntity" parameterType="java.lang.String">
        select id,product_name productName,color,price,brand,repertory, category_id categoryId, category_id2
        categoryId2,description,brand,capacity,create_time createTime,
        picture,status,sale_count saleCount from product where product_name =#{productName} ORDER by create_time desc
    </select>

    <select id="queryFront" parameterType="java.lang.Integer" resultType="ProductEntity">
        select id,product_name productName,color,price,repertory,category_id categoryId,category_id2
        categoryId2,description,brand,capacity,create_time createTime,
        picture,status,sale_count saleCount from product where status='1' and
        user_id=#{userId}  ORDER by create_time desc

    </select>

    <select id="count" parameterType="java.lang.Integer" resultType="java.lang.Integer">
            select count(*) from product where user_id=#{userId}
    </select>

    <select id="querySaleCount" resultType="ProductEntity">
        select id,product_name productName,color,price,repertory,category_id categoryId,sale_count saleCount,category_id2 categoryId2,description,brand,capacity,create_time createTime,
        picture,status from product ORDER by sale_count desc
    </select>

    <select id="selectByCategory" resultType="ProductEntity">
        select id,product_name productName,color,price,repertory,category_id categoryId,sale_count saleCount,category_id2 categoryId2,description,brand,capacity,create_time createTime,
        picture,status from product where category_id2 =#{categoryId2}
    </select>

    <delete id="deleteByCategory">
         delete from product where category_id2 =#{categoryId2}
    </delete>
</mapper>
