<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.libei.mapper.UserMapper">
<!--
    <select id="query" resultType="UserEntity">
        select * from user where account=#{account} and password=#{password}
    </select>
-->

    <select id="queryUser" resultType="com.libei.entity.UserEntity">
        select id,account,name,password,id_num idNum,sex,email,status,create_time createTime from user_entity
        where 1=1
            <if test="name !=null">
                and name like concat ('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="phoneNum !=null">
                and account like  concat ('%',#{phoneNum,jdbcType=VARCHAR},'%')
            </if>
            order by create_time desc
    </select>
  <!--  <select id="query" resultType="UserEntity"  parameterType="java.lang.String">
        select * from user_entity where account like concat ('%',#{account,jdbcType=VARCHAR},'%') order by create_time desc
    </select>-->

    <select id="query" resultType="com.libei.entity.UserEntity"  parameterType="java.lang.String">
        select id,account,name,password,id_num idNum,sex,email,status,create_time createTime from user_entity where account =#{account} order by create_time desc
    </select>

    <select id="search" resultType="com.libei.entity.UserEntity">
        select id,account,name,password,id_num idNum,sex,email,status,create_time createTime from user_entity where account=#{account}order by create_time desc
    </select>
</mapper>
